In [5]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import bz2

### EJERCICIO 01

In [ ]:
!bzcat /home/dsc/data/challenge/bookings.csv.bz2

In [8]:
myfile1 = '/home/dsc/data/challenge/bookings.csv.bz2'
with bz2.open(myfile1, 'rb') as f:
    for i, l in enumerate(f):
        pass
print("File {1} contain {0} lines".format(i + 1, myfile1))

File /home/dsc/data/challenge/bookings.csv.bz2 contain 10000011 lines

In [9]:
myfile2 = '/home/dsc/data/challenge/searches.csv.bz2'
with bz2.open(myfile2, 'rb') as f:
    for i, l in enumerate(f):
        pass
print("File {1} contain {0} lines".format(i + 1, myfile2))

File /home/dsc/data/challenge/searches.csv.bz2 contain 20390199 lines

In [ ]:
# en bash
!bzcat /home/dsc/data/challenge/searches.csv.bz2 | wc -l

### EJERCICIO 02
- Top 10 aeropuertos por numero de passangers

In [13]:
!bzcat /home/dsc/data/challenge/bookings.csv.bz2 | head -n10000 > bookings_sample.csv

bzcat: I/O or other error, bailing out.  Possible reason follows.
bzcat: Broken pipe
	Input file = /home/dsc/data/challenge/bookings.csv.bz2, output file = (stdout)

In [29]:
cols_list =['arr_port','pax','year']
sample_bookings = pd.read_csv('/home/dsc/repos/challenge_data_science/bookings_sample.csv', sep='^', usecols=cols_list)

In [30]:
sample_bookings = sample_bookings.dropna()

In [31]:
sample_bookings['arr_port'] = sample_bookings['arr_port'].apply(lambda x: x.upper().strip())

In [37]:
sample_bookings.groupby(['arr_port','year']).sum().reset_index().sort_values(by= 'pax', ascending=False).head(10)

    arr_port  year  pax
257      HKG  2013  112
336      LGA  2013   95
440      ORD  2013   94
296      JFK  2013   92
328      LAX  2013   91
529      SFO  2013   91
369      MCO  2013   90
157      DCA  2013   82
159      DEN  2013   79
340      LHR  2013   76

In [ ]:
#AHORA QUE LO TENEMOS PARA UN SAMPLE, VAMOS A POR EN ARCHIVO AL COMPLETO

In [40]:
#creamos una funcion que aplicaremos a cada trocito de archivo
def normalize_bookings(booking_sample):
    #cols_list =['arr_port','pax','year']
    #sample_bookings = pd.read_csv('/home/dsc/repos/challenge_data_science/bookings_sample.csv', sep='^', usecols=cols_list)
    sample_bookings = booking_sample.dropna()
    sample_bookings['arr_port'] = sample_bookings['arr_port'].apply(lambda x: x.upper().strip())
    top_10 = sample_bookings.groupby(['arr_port','year']).sum().reset_index().sort_values(by= 'pax', ascending=False).head(10)
    return top_10

In [45]:
#Aplicamos a cada trocito la funcion
dataframe = pd.DataFrame()
cols_list =['arr_port','pax','year']
chunksize = 1000
for chunk in pd.read_csv('/home/dsc/repos/challenge_data_science/bookings_sample.csv', sep='^', usecols=cols_list, chunksize=chunksize):
    dataframe = dataframe.append(normalize_bookings(chunk))
dataframe_final = normalize_bookings(dataframe)
dataframe_final.head()

   arr_port  year  pax
22      HKG  2013   84
11      DCA  2013   72
27      LAX  2013   69
25      JFK  2013   63
28      LGA  2013   58